/* CSS FOR FORM SECTION  */

html,
body {
  margin: -0.5em 0;
  height: 100%;
  font-family: Montserrat, Helvetica, sans-serif;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

nav {
  width: 100%;
  margin: 0 auto;
  border-bottom: 3px solid black;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
  position: fixed;
  background: white;
}

#abfac {
  position: fixed;
  z-index: 1;
  font-family: "bungee inline";
  text-decoration: none;
  font-size: 2em;
  color: #BF5700;
  padding: 5px 10px;
}

nav a {
  text-decoration: none;
  margin: 1em;
  text-transform: uppercase;
  font-size: 0.6em;
  color: brown;
}

@media screen and (min-width: 768px) {
  nav {
    font-size: 1.5em;
  }
  .gallery,
  .profile {
    display: flex;
    justify-content: space-around;
  }
}

h3 {
  padding-bottom: 0.5em;
  text-align: center;
  font-family: "Bungee Inline", cursive;
  font-size: 3em;
  color: grey;
  font-weight: 400;
}

figure {
  text-align: center;
  margin-left: 0.6em;
  margin-right: 0.6em;
}

figcaption {
  text-align: center;
}

.home {
  margin: auto;
  padding: 0% 5% 20% 5%;
  background-color: linen;
}

.home h1 {
  text-align: center;
  font-family: "Bungee Inline", cursive;
  font-size: 5em;
  margin: 0;
  color: #BF5700;
  font-weight: 400;
}

.home p {
  width: 50%;
  margin: auto;
  text-align: center;
  letter-spacing: 5px;
  line-height: 2em;
  color: brown;
  font-size: 0.7em;
}

.home figure {
  display: flex;
}

#logo img {
  border-radius: 50%;
  margin: 13% auto 3% auto;
  width: 60%;
  height: 60%;
  max-width: 200px;
}

@media screen and (max-width: 425px) {
  #logo img {
    padding-top: 10%;
  }
}

.about {
  width: 90%;
  margin: 20% auto;
}

.about img {
  width: 100%;
  height: 250px;
  max-width: 200px;
  margin: 1rem 1rem 0.5rem 1rem;
  border: solid 5px gray;
  border-radius: 3px;
}

.team-bkg {
  width: 100%;
  margin: 0;
  padding: 10% 0;
  background: lavenderblush;
}

.team {
  width: 90%;
  margin: 10% auto;
}

.team figure img {
  width: 128px;
  height: 128px;
  margin-bottom: 2em;
}

@media screen and (min-width: 1440px) {
  .team figure img {
    width: 256px;
    height: 256px;
  }
}

@media screen and (max-width: 760px) {
  #abfac {
    display: none;
  }
  .home h1 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
  }
}

.contact {
  width: 90%;
  margin: 20% auto;
  text-align: center;
}

#form-email,
#form-name,
#form-message {
  width: 60%;
  max-width: 500px;
  font-size: 1em;
  padding: 10px;
  border: 2px solid lightgrey;
  letter-spacing: 0.1em;
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: linen;
}

#form-message {
  height: 200px;
}

.hidden {
  display: none;
}

.skip-menu {
  position: fixed;
  left: 0;
  z-index: -1;
  top: 7%;
  color: white;
}

.skip-menu:focus {
  color: darkorchid;
  background-color: aliceblue;
  border: solid 5px darkorchid;
  z-index: 1;
  padding: 1rem;
}

#form-message {
  height: 200px;
}

#send,
#submit,
#close {
  font-size: 0.8em;
  letter-spacing: 0.1em;
  padding: 10px;
  background-color: linen;
}

@media screen and (min-width: 768px) {
  .about,
  .team,
  .contact {
    width: 70%;
  }
}

/*Modal styling*/

#modal {
  border: 2px solid lightgrey;
  display: none;
  z-index: 10;
  position: fixed;
  background-color: #fffcf9;
  padding: 2rem;
  left: 0;
  right: 0;
  margin: 3em;
  top: 30%;
}

#overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 5;
}

#submit {
  margin-right: 1em;
}

.credits {
  border-top: 1px solid lightgrey;
  padding: 5px;
  background: whitesmoke;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  body {
    font-size: 90%;
  }
  .team figcaption {
    font-size: 85%;
  }
}
